
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form id="LoginForm" method ="POST" action="/home/login" enctype="application/x-www-form-urlencoded" >
            <div>
                <label>email</label>
            </div>
            <div>
                <input name="emailAddress" type="email"/>
            </div>
            <div>
                <label>password</label>
            </div>
            <div>
                <input name="password" type="password"/>
            </div>
            <div>
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</body>
</html>
